<h1>Choose your food type below</h1>
<hr>


<table>
  <tbody>
    <tr>
      <td> <%= link_to "Pizza", pizza_path %> </td>
      <td> <%= link_to "Mexican", mexican_path %> </td>
    </tr>
    <tr>
      <td> <%= link_to "Veggie", veggie_path %> </td>
      <td> <%= link_to "Asian", asian_path %> </td>
    </tr>
  </tbody>
