<div class="infoWin">
<h2><%= foodtruck.name %></h2>
<center><img src="http://djshinski.com/images/logo4.png"></center>
<p><b>Food Type:</b> <%= foodtruck.foodtype %></p>
<p><b>Website:</b> <a href="http://generalassemb.ly">Click Here</a></p>
<p><b>Address:</b> 123 bush st. San Francisco 94182</p>
<p><b>Menu: </b><%= foodtruck.menu %></p>

</div>
