<h1>Maps</h1>

<div id="buttons">

  <input type="checkbox" name="filter" id="shower" class='chk-btn'>
  <label for='shower'>Pizza</label>

  <input type="checkbox" name="filter" id="flush" class='chk-btn'>
  <label for='flush'>Veggie</label>

  <input type="checkbox" name="filter" id="vault" class='chk-btn'>
  <label for='vault'>Asian</label>

  <input type="checkbox" name="filter" id="vault" class='chk-btn'>
  <label for='vault'>Mexican</label>
  <br>
</div>

<br>
<br>
<div id='map' style="width: 100%; height: 400px"></div>
