<h2>Find Foodtrucks</h2>

<div id="buttons">

  <button name="filter" id="selectFood" value="pizza" class='chk-btn' >Pizza </button>
  <button name="filter" id="selectFood" value="veggie" class='chk-btn' > Veggie </button>
  <button name="filter" id="selectFood" value="asian" class='chk-btn'> Asian </button>
  <button name="filter" id="selectFood" value="mexican" class='chk-btn'> Mexican </button>

</div>
  <button id="submitB" onclick="clearMap()">Clear Map </button>

<br>
<br>
<div id='map' style="width: 100%; height: 400px"></div>
