/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
  margin: 0 auto;
    /*background-image: url('../assets/churros.jpg');*/
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

footer {
  background-color: yellow;
}

.userIndex{
  /*background-color: red;*/
}

.container{
  /*background-color: green;*/
}
.navbar-header{
  /*background-color: orange;*/
  font-family: 'Shrikhand', cursive;

  color: white;
}
.navbar-header a{
  padding-top: .8em;
    font-size: 4em;
  color: white;
}
.navbar-header a:visited{
  color: white;
}
.navbar-header a:hover{
  color: white;
}

.navbar-right li {
  background-color: #7a9d97;
  border-radius: .5em;
  margin-left: .5em;
  margin-top: 1em;
  padding: .2em .7em;
  font-weight: 800;
}

.navbar-right li:hover {
  box-shadow: 1px 3px 2px 1px rgba(255, 255, 255, .2);
}

.navbar-right li a{
  color: white;
}

.navbar-right li a:visited{
  color: white;
}

.navbar{
  background-color: #00303f;
  margin-top: 0em;
  margin-bottom: 0em;

  border-bottom: .2em solid #cae4db;
  border-radius: 0em;
  height: 10em;
}

.row {
background: rgba(192, 192, 192, .7);
  width: 100%;
  margin: 0em 0em;
  padding: 2em 0em;
}

tbody td{
/*  background-color: green;
  padding: .5em 2em;
  margin: 1em 1em;
  border-radius: 1em;*/
}

.container site-content{
  width: 100%
}

.infoWin h2{
  color: #00303f;
  text-transform: uppercase;
  font-family: 'Shrikhand', cursive;
  border-bottom: .2em solid #cae4db;
  text-align: center;
}

.infoWin img{
  border: .1em solid #7a9d96;
  width: 180px;
  height: 100px;
  margin-bottom: 1em;
}

.infoWin p {
  margin-top: 0em;
  margin-bottom: 0em;
}

#map{
  width: 100%;
  margin-top: -1em;
}


input.chk-btn {
  display: none;
}
input.chk-btn + label {
  border: 1px solid grey;
  background: ghoswhite;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;

}
input.chk-btn:not(:checked) + label:hover {
  box-shadow: 0px 1px 3px;

}
input.chk-btn + label:active,
input.chk-btn:checked + label {
  box-shadow: 0px 0px 3px inset;
  background: #8cc472;

}
#map-canvas {
    width: 500px;
    height: 500px;
}

h2 {
    font-family: 'Shrikhand', cursive;
}

#buttons button {
  background-color: #cae4db;
  color: #00303F;
  font-weight: 800;
  width: 10em;
  padding-bottom: .5em;
  padding-top: .5em;
  border-radius: .5em;
}
#buttons button:hover {
  background-color: #dcae1d;
  color: #00303F;
  font-weight: 800;
}

#buttons button:focus {
  outline:0;
}

#submitB {
  background-color:  #00303F;
  color: white;
  font-weight: 800;
  /*width: 10em;*/
/*  padding-bottom: .5em;
  padding-top: .5em;*/
  border-radius: .5em;
  margin-bottom: -1em;
  margin-top:1em;
}


